
@font-face {
  font-family: Parastoo;
  src: url('../fonts/Parastoo-Bold.eot');
  src: url('../fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Parastoo-Bold.woff') format('woff'),
       url('../fonts/Parastoo-Bold.ttf') format('truetype');
  font-weight: bold;
}